In [4]:
print("welcome to python world! Let's start coding")

welcome to python world! Let's start coding

In [1]:
x=input()

3

In [2]:
print("Hello from Go My Code")

Hello from Go My Code

In [3]:
a,b,c=5,3.2,"Hello"
print(a)
print(b)
print(c)

5
3.2
Hello

In [4]:
x=y=z="same"
print(x)
print(y)
print(z)

same
same
same

In [5]:
x=5
print(type(x))

<class 'int'>

In [10]:
y=3
print(x+y) #addition
print(x-y) #substruction
print(x*y) #multiplication
print(x/y) #division
print(x%y) #modulus
print(x**y) #exponentiation
print(x//y) #floor division

8
2
15
1.6666666666666667
2
125
1

In [12]:
x=int(5)
print(x)

5

In [55]:
#change the function parameters if you need 
def test(a,b):
   #write your code below this line 
 x=int(a)
 y=int(b)
 return ((x+12)**2-y**3)//9 #write here the returned value of the function 
test(2,4)
  #Write your code above this line

14

In [56]:
x!=y

True

In [58]:
my_string = "welcome to python"
print(len(my_string))     #17

17

In [64]:
# change the function parameters if you need 
def test(str1, str2):
  # write your code below this line 
  return str1[0:3]+str2[0:3] # write here the returned value of the function  
test("Coding","World") # Write your code above this line

'CodWor'

In [66]:
float(5) #conversion from integer to float
float("2.5") #conversion from string to float
str(25) #conversion from integer to string
int(2.0) #conversion impossible, string must contain compatible values

2

In [67]:
float(5)

5.0

In [68]:
print((2>5) == (6>2))

False

In [71]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
x=input("enter your first name   ")
print(x)

In [73]:
x*2

8