In [1]:
# Question 1: Print the three first rows

import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia',
                      'Dima',
                      'Katherine',
                      'James',
                      'Emily',
                      'Michael',
                      'Matthew',
                      'Laura',
                      'Kevin',
                      'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, labels)
print(df.loc[:'c'])

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [2]:
# Question 2: Delete rows with Nan values

print(df[(df.score>0)])

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [3]:
# Question 3: Extract the 'name' and 'score' columns from the DataFrame.

print(df[['name','score']])

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [4]:
# Question 4: Write a Pandas program to append a new row 'k' to data frame with these values(name : "Suresh", score: 15.5, attempts: 1, qualify: "yes")

df.loc['k'] = {'name' : "Suresh", 'score': 15.5, 'attempts': 1, 'qualify': "yes"}
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes

In [5]:
# Question 5: Write a Pandas program to delete the 'attempts' column from the DataFrame.

df.drop(columns='attempts', inplace=True)
print(df)

        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes
k     Suresh   15.5     yes

In [9]:
# Question 6: Add a new column "Success" : if the score is higher than 10 we will have 1 else we will have 0


df['Success'] = [1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1]
print(df)

        name  score qualify new_column  Success
a  Anastasia   12.5     yes       None        1
b       Dima    9.0      no       None        0
c  Katherine   16.5     yes       None        1
d      James    NaN      no       None        0
e      Emily    9.0      no       None        0
f    Michael   20.0     yes       None        1
g    Matthew   14.5     yes       None        1
h      Laura    NaN      no       None        0
i      Kevin    8.0      no       None        0
j      Jonas   19.0     yes       None        1
k     Suresh   15.5     yes       None        1

In [14]:
# Question 7: After executing the final dataframe, export it into csv file named "my_data"

df.to_csv('my_data.csv', sep = '\t', index = False)

new_df = pd.read_csv('my_data.csv')
print(new_df)

   name\tscore\tqualify\tnew_column\tSuccess
0                  Anastasia\t12.5\tyes\t\t1
1                         Dima\t9.0\tno\t\t0
2                  Katherine\t16.5\tyes\t\t1
3                           James\t\tno\t\t0
4                        Emily\t9.0\tno\t\t0
5                    Michael\t20.0\tyes\t\t1
6                    Matthew\t14.5\tyes\t\t1
7                           Laura\t\tno\t\t0
8                        Kevin\t8.0\tno\t\t0
9                      Jonas\t19.0\tyes\t\t1
10                    Suresh\t15.5\tyes\t\t1